<div class="container">
  <div>
    <div class="header">
      <h1 class="title">My Heroes</h1>
    </div>
    <div class="col-6 col-sm-4">
      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Mr. Nice</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Narco</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4">

      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Bombasto</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Celeritas</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Magneta</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">RubberMan</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <h5 class="card-title">Dynama</h5>
        </div>
      </div>
    </div>
  </div>
</div>
